[submodule "ext/libfuse"]
	path = ext/libfuse
	url = https://github.com/billziss-gh/libfuse.git
[submodule "ext/winfsp"]
	path = ext/winfsp
	url = https://github.com/billziss-gh/winfsp.git
[submodule "ext/lxdk"]
	path = ext/lxdk
	url = https://github.com/billziss-gh/lxdk.git
